//*Color pallet*//
$dark-gray: #353535;
$orange-soda: #f06449;
 
$yellow: #FFD166;
$cream: #FFFDD0;

//Blues

$night-sky:#0d0015;
$gray-navy: #262d41;
$pale-blue: #d8eaff;
$blue: #277191;

.dark-gray-bg{
  background: $dark-gray;
  color:white;
  h1 h2 h3 h4 h5 h6{
    color: white;
  }
}

.orange-bg{
  background: $orange-soda;
  color:white;
  h1 h2 h3 h4 h5 h6{
    color: white;
  }
}

.cream-bg{
  background: $cream;
}

.blue-bg{
  background: $blue;
  color:white;
  h1 h2 h3 h4 h5 h6{
    color: white;
  }
}

.pale-blue-bg{
  background: $pale-blue;
}
.night-sky-bg{
  background: $blue;
  background: rgb(20,28,52);
  background: -moz-linear-gradient(0deg, $gray-navy 50%, $night-sky 70%);
  background: -webkit-linear-gradient(0deg, $gray-navy 50%, $night-sky 70%);
  background: linear-gradient(0deg, $gray-navy 50%, $night-sky 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141c34",endColorstr="#0d0015",GradientType=1);
  position:relative;
  color:white;
  h1 h2 h3 h4 h5 h6{
    color: white;
  }
  .star-container{
    position: absolute;
  top:0;
  right:0;
  height:40%;
  width:100%;
  .star{
    background-color: white;
    position: absolute;
    border-radius: 50%;
   }
  }
}