//*Color pallet*//
$dark-gray: #353535;
$orange-soda: #f06449;
$pale-blue: #DDFFF7;
$night-sky:#0d0015;
$blue: #277191; 
$yellow: #FFD166;
$cream: #FFFDD0;


.dark-gray-bg{
  background: $dark-gray;
  color:white;
  h1 h2 h3 h4 h5 h6{
    color: white;
  }
}

.orange-bg{
  background: $orange-soda;
  color:white;
  h1 h2 h3 h4 h5 h6{
    color: white;
  }
}

.cream-bg{
  background: $cream;
}

.blue-bg{
  background: $blue;
  color:white;
  h1 h2 h3 h4 h5 h6{
    color: white;
  }
}

.pale-blue-bg{
  background: $pale-blue;
}
.night-sky-bg{
  background: $blue;
  background: linear-gradient(0deg, rgba(39,113,145,1) 0%, rgba(33,85,114,1) 17%, rgba(26,57,83,1) 28%, rgba(20,28,52,1) 43%, rgba(13,0,21,1) 68%);
  position:relative;
  color:white;
  h1 h2 h3 h4 h5 h6{
    color: white;
  }
  .star-container{
    position: absolute;
  top:0;
  right:0;
  height:40%;
  width:100%;
  .star{
    background-color: white;
    position: absolute;
    border-radius: 50%;
   }
  }
}